@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body, main {
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;

    &::-webkit-scrollbar {
        width: 12px;
    }
      
    &::-webkit-scrollbar-track {
        background: transparent;
    }
      
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(100deg, var(--primary), var(--secondary));
    }
}

html {
    scroll-behavior: smooth;
}