@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body, main {
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;

    &::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
    }
      
    &::-webkit-scrollbar-track {
        background: transparent; /* color of the tracking area */
    }
      
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(100deg, #9356dc, #ff79da);
    }
}

html {
    scroll-behavior: smooth;
}