@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body, main {
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "shrikhand", sans-serif;
    padding: 0.1px;
    box-shadow: 0px 5px 5px lightgrey;

    h1 {
        margin-bottom: 5px;
        display: flex;
    }

    a {
        display: flex;
        text-decoration: none;
        color: black;
        position: relative;
        right: 60px;
        top: 7px;
        font-size: 25px;

        &:hover {
            color: #9356dc;  
        }
    }
}

.localisation {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

    i {
        margin-right: 10px;
    }

    p {
        font-weight: 500;
    }
}

.presentation {
    padding: 20px;
    text-align: center;
    background-color: #fafafa;

    h2 {
        margin: 0;
    }

    .btn {
        width: 250px;
        padding: 10px 15px;
        background: linear-gradient(170deg, #ff79da, #9356dc);
        border: none;
        border-radius: 50px;
        font-size: large;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .btn:hover {
        background: linear-gradient(170deg, #9356dc, #ff79da);
    }
}

.steps {
    padding: 10px 0px;
    margin: 20px;

    .step-list {
        list-style: none;
    }

    .step-choice {
        margin-bottom: 20px;
        padding-left: 10px;
        position: relative;
    }

    .number {
        background-color: #9356DC;
        color: white;
        border-radius: 50%;
        padding: 1px 5px;
        position: absolute;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        margin-top: 15px;
        margin-right: 20px;
        left: 0;
    }

    .step {
        display: flex;
        background-color: #f6f6f6;
        border-radius: 20px;
        padding: 3px;
        margin-bottom: 10px;
        align-items: center;
        padding-right: 5px;
        cursor: pointer;
    }

    .step:hover {
        background-color: #e4d5f6;
        & .fa-solid {
            color: #9356DC;
        }
    }

    .fa-solid {
        color: #7e7e7e;
        padding: 0px 30px;
    }
}

.restaurants {
    padding: 20px;
    background-color: #fafafa;

    .restaurant-form {
        border: 1px solid white;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        box-shadow: 0px 5px 5px lightgrey;
        position: relative;
        cursor: pointer;

        .restaurant-img {
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0px 0px;
        }
        
        a {
            text-decoration: none;
            color: black;
        }

        .new-restaurant {
            font-weight: bold;
            background-color: #99e2d0;
            color: #1a8a68;
            width: 100px;
            text-align: center;
            right: 10px;
            top: 10px;
            position: absolute;
            height: 30px;
            line-height: 1px;
            border-radius: 5px;
        }
        
        img {
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            width: 100%;
            height: 150px;
        }

        .restaurant-information {
            padding-left: 10px;
            position: relative;
            

            & h3 {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            & p {
                margin-top: 0;
            }

            i {
                font-size: 25px;
                position: absolute;
                right: 10px;
                top: 30%;
                padding-right: 20px;
            }

            .fas {
                color: transparent;
                background-image: linear-gradient(170deg, #ff79da, #9356dc);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }
        }    
    }
}

footer {
    background-color: #353535;
    padding: 20px;
    color: white;

    h3 {
        font-family: "shrikhand", sans-serif;
        font-weight: 300;
    }

    p {
        cursor: pointer;
    }

    a {
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
        padding-bottom: 10px;
    }

    i {
        padding-right: 5px;
    }
}

@media screen and (min-width: 1440px) {

    .presentation {
        margin-block-end: 40px;
    }

    .steps {
        margin-block-end: 50px;
    }

    .step-list {
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .step {
        justify-content: center;
        width: 300px;
        margin-right: 60px;
    }

    .restaurants {
        margin-block-end: 200px;

        .restaurant-list {
            display: flex;
            justify-content: space-between;
        }

        .restaurant-form {
            width: 300px;
            margin-bottom: 0px;
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 100px;

        p {
            &:hover {
                text-decoration: underline;
            }
        }

        a {
            padding-bottom: 0px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}