footer {
    background-color: #353535;
    padding: 20px;
    color: white;

    h3 {
        font-family: "shrikhand", sans-serif;
        font-weight: 300;
    }

    p {
        cursor: pointer;
    }

    a {
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
        padding-bottom: 10px;
    }

    i {
        padding-right: 5px;
    }
}