@import "../../utils/animations.scss";

.localisation {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

    i {
        margin-right: 10px;
    }

    input {
        font-size: medium;
        font-weight: bold;
        border: none;
        color: black;
        background-color: #eaeaea;
        flex-basis: 8rem;
        width: 10px;
        height: 50px;
    }

    ::placeholder {
        color: black;
    }
}

.presentation {
    padding: 20px;
    text-align: center;
    background-color: #fafafa;

    h2 {
        margin: 0;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        padding: 15px 15px;
        background: linear-gradient(170deg, var(--secondary), var(--primary));
        box-shadow: 0px 5px 5px lightgrey;
        border: none;
        border-radius: 50px;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    
        a {
            color: white;
            text-decoration: none;
            font-size: large;
        }
    }

    .btn:hover {
        background: linear-gradient(170deg, var(--primary), var(--secondary));
    }
}

.steps {
    padding: 10px 0px;
    margin: 20px;

    .step-list {
        list-style: none;
    }

    .step-choice {
        margin-bottom: 20px;
        padding-left: 10px;
        position: relative;
    }

    .number {
        background-color: var(--primary);
        color: white;
        border-radius: 50%;
        padding: 1px 5px;
        position: absolute;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        margin-top: 15px;
        margin-right: 20px;
        left: 0;
    }

    .step {
        display: flex;
        background-color: #f6f6f6;
        border-radius: 20px;
        padding: 3px;
        margin-bottom: 10px;
        align-items: center;
        padding-right: 5px;
        cursor: pointer;
    }

    .step:hover {
        background-color: #e4d5f6;
        & .fa-solid {
            color: var(--primary);
        }
    }

    .fa-solid {
        color: #7e7e7e;
        padding: 0px 30px;
    }
}

.restaurants {
    padding: 20px;
    background-color: #fafafa;

    .restaurant-form {
        border: 1px solid transparent;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        box-shadow: 0px 5px 5px lightgrey;
        position: relative;
        cursor: pointer;

        .restaurant-img {
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0px 0px;
        }
        
        a {
            text-decoration: none;
            color: black;
        }

        .new-restaurant {
            font-weight: bold;
            background-color: var(--tertiary);
            color: #1a8a68;
            width: 100px;
            text-align: center;
            right: 10px;
            top: 10px;
            position: absolute;
            height: 30px;
            line-height: 1px;
            border-radius: 5px;
        }
        
        img {
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
            width: 100%;
            height: 150px;
        }

        .restaurant-information {
            padding-left: 10px;
            position: relative;
            
            & h3 {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            & p {
                margin-top: 0;
            }

            i {
                font-size: 25px;
                position: absolute;
                right: 10px;
                top: 30%;
                padding-right: 20px;
            }

            .fas {
                color: transparent;
                background-image: linear-gradient(170deg, var(--secondary), var(--primary));
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }
        }    
    }
}