@import "../../utils/animations.scss";

.restaurant-banner {

    img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: center;
    }
}

.restaurant-name {
    position: relative;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    background: #fafafa;

    h2 {
        font-family: "shrikhand", sans-serif;
        font-weight: 400;
        margin-left: 10px;
        padding: 20px;
        margin-bottom: 0;
    }

    i {
        font-size: 25px;
        position: absolute;
        right: 10px;
        top: 35%;
        padding-right: 20px;
        cursor: pointer;
    }

    .fas {
        color: transparent;
        background-image: linear-gradient(170deg, var(--secondary), var(--primary));
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.menu-restaurant {
    background-color: #fafafa;
}

.menu-list {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 400;
        padding: 30px 30px 0px 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.underline {
    width: 40px;
    height: 3px;
    background-color: var(--tertiary);
    padding: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}

.menu-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px lightgrey;
    margin: 10px 20px 10px 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    animation: appear-card 1s;
    animation-fill-mode: both;
    
    &:hover .menu-check {
        right: 0px;
        transition: 0.7s ease-in-out;

        i {
            animation: spin-check 0.9s linear;
        } 
    }
}

@for $i from 0 to 10 {
    .delay-#{$i} {
      animation-delay: 300ms * $i;
    }
}

.menu-card-content {
    width: 100%;
    transition: 0.8s ease-in-out;
    
    &:hover {
        width: calc(100% - 100px);
        transition: 0.9s ease-in-out;
    }

    .menu-card-title {
        display: flex;
        
        h4 {
            margin-bottom: 10px;
            margin-top: 10px;
            padding-left: 10px;
            font-size: larger;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .menu-card-description {
        display: flex;
        white-space: nowrap;
        justify-content: space-between;
    
        .info {
            padding-left: 10px;
            margin-top: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .price {
            font-weight: bold;
            padding-right: 20px;
            margin-top: 0;
        }
    } 
}

.menu-check {
    position: absolute;
    text-align: center;
    right: -100px;
    top: 0;
    width: 100px;
    height: 80px;
    background-color: var(--tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s ease-in-out;
    margin-left: 10px;

    i {
        font-size: 30px;
        color: white;
    }
}

.command {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;

    .btn {
        display: flex;
        justify-content: center;
        width: 200px;
        padding: 15px 15px;
        background: linear-gradient(170deg, var(--secondary), var(--primary));
        box-shadow: 0px 5px 5px lightgrey;
        border: none;
        border-radius: 50px;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;

        a {
            color: white;
            text-decoration: none;
            font-size: large;
        }
    }

    .btn:hover {
        background: linear-gradient(170deg, var(--primary), var(--secondary));
    }
}