.restaurant-banner {

    img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: center;
    }
}

.restaurant-name {
    position: relative;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    background: white;

    h2 {
        font-family: "shrikhand", sans-serif;
        font-weight: 400;
        margin-left: 10px;
        padding: 20px;
    }

    i {
        font-size: 25px;
        position: absolute;
        right: 10px;
        top: 35%;
        padding-right: 20px;
    }

    .fas {
        color: transparent;
        background-image: linear-gradient(170deg, #ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

@media screen and (min-width: 1440px) {

    .restaurant-banner {
    
        img {
            height: 40vh;
        }
    }
}



