@keyframes spin-check {
    0% {
        transform: rotate(-280deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes appear-card {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loader-disappear {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes spin-circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}