@mixin heart {
    color: transparent;
    background-image: linear-gradient(170deg, var(--secondary), var(--primary));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

@mixin heart-hover {
    opacity: 1;
    transform: scale(1.1);
}